mat-card-title {
  text-align:center
}
mat-card {
  width: 30%;
  margin: 10% auto;
}
mat-form-field {
  width: 80%;
  display: block;
  margin: auto;
}

button {
  width: 80%;
  display: block;
  margin: 5% auto;
}

mat-card-content {
  margin-top: 20px;
}
